<ion-view class="login-view">
    <ion-content>
    	
    	<div id="logo-cover">
    		<img id="logo" src="./img/minyawnsLogo.png"/>
    	</div>

    	<div class="list list-inset">
		  <label class="item item-input">
		    <input type="email" placeholder="Username" ng-model="username">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="password">
		    <a href="#" class="padding-horizontal show-password" ng-click="onShowPassword()">
			    <i class="icon ion-eye show-password"></i>
			</a>
		  </label>
		</div>

		<div class="padding-horizontal">
			<button class="button button-block button-green" ng-click="onLoginClick(username, password)">Login</button>
		</div>

		<div class="padding">
			<h5>Get Using Minions, faster!</h5>
		</div>

		<div class="padding">
			<button class="button icon-left ion-social-facebook button-facebook">Sign in with Facebook</button>
		</div>

    </ion-content>
</ion-view>