
.list .item.item-accordion {
  background: #88D816 !important;
padding: 3px 0px;
font-size: 1.1rem;
overflow:visible;
border-top: 1px dashed rgba(204, 204, 204, 0.58) !important;
margin-top:-4px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}