.cssSlideUp {
	-webkit-transition: .6s linear all;
    -moz-transition: .6s linear all;
    -o-transition: .6s linear all;
    transition: .6s linear all;
    height: 120px;
    overflow: hidden;
}

.cssSlideUp.ng-hide {
    height:0;
}


.rotate, 
.rotateCounterwise {
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    -o-transition: 600ms ease all;
    transition: 600ms ease all;
}
.rotate {
    -webkit-transform: rotate(180deg);
}
.rotateCounterwise {
    -webkit-transform: rotate(0deg);
}