@import url(../../styles/fonts/open-sans/open-sans.css);
/*
App Name:       Minyawns Ionic App
Theme URI:      http://ajency.in/
Description:    Style Classes for the Ionic App
Author:         Jarryd for Ajency.in
Author URI:     http://ajency.in/
Version:        0.1.0
*/
/**** Fonts ****/
/****Colors****/
/****Clearfix****/
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "";
  display: table;
}
.pull-center {
  text-align: center;
}
.p-20 {
  padding: 20px;
}
/**** Body Styles ****/
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body input,
body button,
body select,
body textarea,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 .item,
body .item-divider {
  font-family: 'Regular', sans-serif;
}
body .pane {
  background: #f1f1f1;
}
body .pane .has-header {
  top: 50px;
}
/**** Button Styles ****/
.button.button-green {
  background: #88d816;
  border-color: #4e7b0d;
  color: #ffffff;
}
.button.button-facebook {
  background: #3D578C;
  border-color: transparent;
  color: #ffffff;
  font-family: 'Light', sans-serif;
}
.button.button-facebook.icon-left:before {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 0.4rem;
}
/**** Login View Styles ****/
.login-view {
  background: url("../../img/background.jpg") no-repeat center bottom !important;
  background-color: #414141;
  background-size: cover !important;
  text-align: center;
}
.login-view #logo-cover {
  width: 100%;
  height: 25%;
  margin: 3rem 0 2rem;
}
.login-view #logo-cover #logo {
  width: 75%;
  height: 'auto';
}
.login-view .show-password {
  position: absolute;
  font-size: 1.5rem;
  z-index: 3;
  right: 6px;
  top: 4px;
  color: #414141;
}
.login-view .show-password:hover,
.login-view .show-password:focus,
.login-view .show-password.shown {
  color: #88d816;
}
.login-view .item-input {
  padding-left: 0;
}
.login-view .item-input input {
  text-align: center;
  padding-left: 44px;
}
.login-view .button-green {
  font-family: 'Semibold', sans-serif;
  border-color: transparent;
}
.login-view h1,
.login-view h2,
.login-view h3,
.login-view h4,
.login-view h5,
.login-view h6 {
  color: #ffffff;
  font-family: 'Light', sans-serif;
}
.login-view .loader {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 6rem 0 2rem;
  display: block;
}
.popup {
  -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
}
.popup .popup-head {
  border: 0px;
}
/**** Main Header Styles ****/
.bar-green {
  background: #88d816;
  height: 50px;
  color: #ffffff;
  border-bottom: 3px solid #82b42f;
}
.bar-green .main-menu-toggle {
  color: rgba(0, 0, 0, 0.33);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.33);
}
.bar-green .title {
  color: #ffffff;
}
/**** Left Menu Styles ****/
.menu-left .log-view {
  padding: 3px 16px;
  width: 100%;
  text-align: center;
  min-height: initial;
  /*background: url('../../img/color.jpg') center bottom no-repeat;*/
  background: #79C50B;
}
.menu-left .log-view img {
  border-radius: 100%;
  top: auto;
  width: 70px;
  height: 70px;
  margin: 0.5rem auto 0px;
  border: 3px solid #fff;
}
.menu-left .log-view h2 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-family: 'Semibold', sans-serif;
}
.menu-left .log-view h2 span {
  color: #000000;
}
.menu-left .log-view .desc {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-family: 'Light', sans-serif;
  color: #ffffff;
}
.menu-left .details p {
  color: #414141;
  margin-bottom: 0.5rem;
}
.menu-left .details p .number {
  font-size: 2rem;
  font-family: 'Semibold', sans-serif;
  color: #88d816;
  margin-top: 0.5rem;
  display: block;
}
.menu-left .details p .sign-in {
  font-family: 'Semibold', sans-serif;
  color: #88d816;
}
.menu-left .menu-sep {
  margin: 0.5rem 0 -1px;
  border-bottom: 2px solid #88d816;
  padding: 5px 16px;
  font-size: 1rem;
  color: #414141;
  text-transform: uppercase;
  font-family: 'Semibold', sans-serif;
}
.menu-left .list .item {
  color: #5C5C5C;
  font-size: 1rem;
  background: #fafafa;
}
.menu-left .list .item.item-divider {
  background: #ffffff;
  color: #414141;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.menu-left .list .item .item-content {
  background: #fafafa;
}
/**** Job List Styles ****/
.job-list {
  background: transparent;
  overflow: visible;
}
.job-list .available {
  border-left: 2px solid #88d816 !important;
}
.job-list .expire {
  border-left: 2px solid #ff3333 !important;
}
.job-list .job {
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 1px;
  border: 0;
  padding: 0px;
  border: 2px solid rgba(184, 184, 184, 0.51);
}
.job-list .job .job-details .job-title {
  font-family: 'bold', sans-serif;
  font-size: 1.0rem;
  margin-bottom: 5px;
  color: #b1b1b1;
}
.job-list .job .job-details .detail {
  margin-bottom: 3px;
  font-size: 0.9rem;
  font-weight: 400;
}
.job-list .job .job-details .date {
  color: #88d816;
}
.job-list .job .job-details .location {
  font-family: 'Regular', sans-serif;
  font-size: 0.8rem;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.job-list .job .job-details .icon {
  color: #cbcbcb;
  width: 15px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
.job-list .job .job-price {
  text-align: left;
  color: #88d816;
  font-family: 'bold', sans-serif;
}
.job-list .job .job-actions {
  background: url('../../img/action-bg.png');
  /*margin: 0 -10px -10px;
			padding: 3px 20px;*/
  padding: 3px 10px;
  font-size: 1.1rem;
  *zoom: 1;
}
.job-list .job .job-actions:after,
.job-list .job .job-actions:before {
  clear: both;
  content: "";
  display: table;
}
.job-list .job .job-actions .apply-button {
  float: left;
  position: relative;
  line-height: 40px;
  width: 99px;
  font-size: 0.9rem;
}
.job-list .job .job-actions .apply-button .minyawn-head {
  background: url('../../img/minion-vector-head.png') no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.job-list .job .job-actions .applicants {
  float: right;
  text-align: left;
  color: #817D7D;
  font-size: 0.7rem;
}
.job-list .job .job-actions .applicants b {
  font-size: 0.9rem;
  color: #88d816;
}
.job-list .job .job-actions .applicants .min-icon {
  display: inline-block;
  width: 22px;
  height: 38px;
  background: url('../../img/minion-vector-grey.png') no-repeat;
  background-size: 22px 38px;
}
.job-list .job .job-actions .applicants .min-icon.minyawn-applied {
  background: url('../../img/minion-vector.png') no-repeat;
  background-size: 22px 38px;
}
.job-list .job .job-actions .applicants .min-icon.minyawn-empty {
  background: url('../../img/minion-vector-body.png') no-repeat center bottom;
  background-size: 22px 20px;
}
.job-list .job .job-actions .applicants .min-count {
  display: inline-table;
  width: 30px;
  float: right;
  margin-left: 5px;
  color: #88d816;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 41px;
}
.job-list .job.not-applicable {
  border-left-color: #ff3333;
}
.job-list .job.not-applicable .job-actions {
  color: #b1b1b1;
}
.job-list .message {
  text-align: center;
  color: #b1b1b1;
  border: 1px dashed #b1b1b1;
}
.job-list .message .icon {
  display: block;
  font-size: 3rem;
  color: #b1b1b1;
  margin-bottom: 0.2rem;
}
.job-list .message.connection-error {
  background: transparent;
  border: 0;
}
.job-list .message.no-more {
  margin-bottom: 10px !important;
  color: #747474;
  background: transparent;
}
.single-job-card {
  /*border-left: 2px solid @green;
	border:2px solid rgba(184, 184, 184, 0.51);*/
}
/**** Scroll Refresher Styles ****/
.scroll-refresher {
  top: -70px;
}
/**** Loader Styles ****/
.loader {
  text-align: center;
  font-size: 2rem;
  margin-top: 41vh;
}
/**** Single Job Styles ****/
.single-job-card .item {
  white-space: normal;
  overflow: visible;
  border: 2px solid #ccc;
}
.single-job-card .item * {
  white-space: normal;
}
.single-job-card .item .job-title {
  color: #414141;
  font-size: 1.0rem;
  margin-bottom: 1rem;
  font-weight: 800;
  line-height: 1.5rem;
}
.single-job-card .item .job-details {
  padding: 0;
}
.single-job-card .item .job-details .col {
  padding: 0;
}
.single-job-card .item .job-details .detail-header {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #b1b1b1;
}
.single-job-card .item .job-details .job-price {
  color: #88d816;
}
.single-job-card .item .job-details .job-time {
  padding-right: 0.5rem;
}
.single-job-card .item .job-details .job-time .time {
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.single-job-card .item .job-details .job-time .date {
  font-size: 0.8rem;
  color: #989898;
}
.single-job-card .item .job-details .job-time .date:after {
  display: block;
  content: "";
}
.single-job-card .item .job-details .job-location {
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 500;
}
.single-job-card .item .job-details .job-description {
  font-size: 0.8rem;
  color: #5a5a5a;
  margin-bottom: 1rem;
}
.single-job-card .item .job-details .job-snippets {
  font-size: 0.8rem;
  color: #989898;
}
.single-job-card .item .job-details .author {
  color: #88d816 !important;
}
.single-job-apply {
  margin: 20px 10px;
}
.single-job-apply .col {
  padding: 0;
}
.single-job-apply .detail-header {
  text-transform: uppercase;
  color: #88d816;
  margin-bottom: 0;
}
.single-job-apply .helper-text {
  font-size: 0.8rem;
  color: #b1b1b1;
  font-family: 'italic', sans-serif;
  margin: 0 0 0.5rem;
  padding-right: 0.2rem;
  padding-top: 0.5rem;
  border-top: 1px solid #b1b1b1;
}
.single-job-apply .apply-btn {
  border: 0;
  text-transform: uppercase;
  padding: 0 2rem;
  font-family: 'Semibold', sans-serif;
  line-height: 1rem;
  border-radius: 1px;
}
.single-job-apply .pic-upload {
  border: 1px solid #8b8b8b;
  text-align: center;
  font-size: 3rem;
  color: #88d816;
  height: 54px;
}
.single-job-apply .pic-upload i {
  display: block;
  text-align: center;
}
/**** Minyawn List Styles ****/
.minyawn-list {
  margin: 20px 10px;
}
.minyawn-list .detail-header {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #b1b1b1;
}
.minyawn-list .list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.minyawn-list .list .minyawn {
  min-width: 43vw;
  max-width: 43vw;
  margin: 0.5rem 1vw;
  border: 0;
  white-space: normal;
  box-shadow: 0px 0px 6px #888888;
  -moz-box-shadow: 0px 0px 6px #888888;
  -webkit-box-shadow: 0px 0px 6px #888888;
}
.minyawn-list .list .minyawn:first-child {
  margin-left: auto;
}
.minyawn-list .list .minyawn:last-child {
  margin-right: auto;
}
.minyawn .minyawn-view {
  padding: 1rem;
  text-align: center;
  overflow: auto;
}
.minyawn .minyawn-view .minyawn-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto 0.5rem;
}
.minyawn .minyawn-view .minyawn-pic img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid #cbcbcb;
}
.minyawn .minyawn-view .minyawn-name {
  font-size: 1.2rem;
  color: #88d816;
  margin: 0 0 0.5rem;
}
.minyawn .minyawn-view .minyawn-details {
  margin: 0 0 0.5rem;
}
.minyawn .minyawn-view .minyawn-details .detail {
  color: #b1b1b1;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.minyawn .minyawn-view .rating {
  font-size: 0.9rem;
}
.minyawn .minyawn-view .rating .up {
  color: #88d816;
  text-align: right;
}
.minyawn .minyawn-view .rating .down {
  color: #ff3333;
  text-align: left;
}
/* Animate */
.arrow-loader {
  background: url("../../img/arrow.gif") no-repeat center bottom !important;
  width: 100%;
}
/*Modal-popup*/
.modal-backdrop .scroll-content {
  top: 15% !important;
}
.modal {
  width: 90%;
}
#draggableContainer {
  display: block;
  overflow: hidden;
  padding-right: 4px;
}
/* Title Scroll*/
ul.marquee {
  /* required styles */
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  overflow: hidden;
  /* optional styles for appearance */
  width: 500px;
  /* set the required width */
  height: 34px;
  /* set the height required to accomodate the chosen font size */
  background-color: #222;
  /* scroller background color */
  border: 5px solid #0593FF;
  /* border width, type and color */
  border-radius: 7px;
  /* border radius */
  -moz-border-radius: 7px;
  /* border radius */
  -webkit-border-radius: 7px;
  /* border radius */
}
ul.marquee li {
  /* required styles */
  position: absolute;
  top: -999em;
  left: 0;
  display: block;
  white-space: nowrap;
  /* keep all text on a single line */
  /* optional styles for appearance */
  font: 24px Trebuchet MS, Helvetica, sans-serif;
  /*font size and family */
  color: #eee;
  /* font color */
  padding: 3px 5px;
}
ul.marquee li a {
  color: #0593FF;
}
/* link text color */
ul.marquee li a:hover {
  color: #FF0000;
}
/* link rollover color */
