@import url(../../styles/fonts/open-sans/open-sans.css);
/*
App Name:       Minyawns Ionic App
Theme URI:      http://ajency.in/
Description:    Style Classes for the Ionic App
Author:         Jarryd for Ajency.in
Author URI:     http://ajency.in/
Version:        0.1.0
*//**** Fonts ****/
/****Colors****/
/**** Body Styles ****/
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body input,
body button,
body select,
body textarea,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 .item,
body .item-divider {
  font-family: 'Regular', sans-serif;
}
/**** Button Styles ****/
.button.button-green {
  background: #88d816;
  border-color: #4e7b0d;
  color: #ffffff;
}
.button.button-facebook {
  background: #3D578C;
  border-color: transparent;
  color: #ffffff;
  font-family: 'Light', sans-serif;
}
.button.button-facebook.icon-left:before {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 0.4rem;
}
/**** Login View Styles ****/
.login-view {
  background: url("../../img/background.jpg") no-repeat center bottom;
  background-color: #444444;
  background-size: cover;
  text-align: center;
}
.login-view #logo-cover {
  width: 100%;
  height: 25%;
  margin: 3rem 0 2rem;
}
.login-view #logo-cover #logo {
  width: 75%;
  height: 'auto';
}
.login-view .show-password {
  position: absolute;
  font-size: 1.5rem;
  z-index: 3;
  right: 6px;
  top: 4px;
  color: #444444;
}
.login-view .show-password:hover,
.login-view .show-password:focus,
.login-view .show-password.shown {
  color: #88d816;
}
.login-view .item-input {
  padding-left: 0;
}
.login-view .item-input input {
  text-align: center;
  padding-left: 44px;
}
.login-view .button-green {
  font-family: 'Semibold', sans-serif;
  border-color: transparent;
}
.login-view h1,
.login-view h2,
.login-view h3,
.login-view h4,
.login-view h5,
.login-view h6 {
  color: #ffffff;
  font-family: 'Light', sans-serif;
}
.login-view .loader {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 6rem 0 2rem;
  display: block;
}
/**** Main Header Styles ****/
.bar-green {
  background: #88d816;
  height: 50px;
}
.bar-green .button {
  color: #ffffff;
}
.bar-green .button:before {
  font-size: 1.4rem !important;
}
.bar-green .main-menu-toggle {
  position: relative;
  left: -16px;
}
.bar-green #logo {
  height: 100%;
  width: auto;
  position: relative;
  left: -20px;
}
.bar-green .settings-button {
  margin-right: 0.25rem;
}
/**** Left Menu Styles ****/
.menu-left {
  margin-top: 50px;
}
.menu-left .list .item {
  color: #b1b1b1;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.menu-left .list .item.item-avatar {
  padding: 16px;
  padding-left: 72px;
  text-transform: capitalize;
}
.menu-left .list .item.item-avatar img {
  border-radius: 100%;
}
.menu-left .list .item.item-avatar h2 {
  color: #b1b1b1;
}
.menu-left .list .item.item-avatar p {
  color: #88d816;
}
.menu-left .list .item.item-divider {
  background: #ffffff;
  color: #444444;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
