/*
App Name:       Minyawns Ionic App
Theme URI:      http://ajency.in/
Description:    Style Classes for the Ionic App
Author:         Jarryd for Ajency.in
Author URI:     http://ajency.in/
Version:        0.1.0
*/ 

/**** Fonts ****/
@import url(../../styles/fonts/open-sans/open-sans.css);

/****Colors****/
@green: #88D816;
@light-green: #A2FF1D;
@grey: #B1B1B1;
@dark-grey: #444444;
@red: #ff3333;
@white: #ffffff;

/****Clearfix****/
.clearfix {
    *zoom: 1;
	&:after, &:before {
		clear: both;
		content: "";
		display: table;
	}
}
.pull-center{
	text-align:center;
}
.p-20{
	padding:20px;
}
/**** Body Styles ****/
body {
	h1, h2, h3, h4, h5, h6, p, input, button, select, textarea, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider {
		font-family: 'Regular', sans-serif;
	}
	.pane {
		background: lighten(@grey, 25%);
		.has-header {
			top: 50px;
		}
	}
}

/**** Button Styles ****/
.button {
	&.button-green {
		background: @green;
		border-color: darken(@green, 20%);
		color: @white;
	}
	&.button-facebook {
		background: #3D578C;
		border-color: transparent;
		color: @white;
		font-family: 'Light', sans-serif;
		&.icon-left {
			&:before {
				text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
				margin-right: 0.4rem;
			}
		}
	}
}

/**** Login View Styles ****/
.login-view {
    background: url("../../img/background.jpg") no-repeat center bottom !important;
    background-color: @dark-grey;
    background-size: cover !important;
    text-align: center;
    #logo-cover {
    	width: 100%;
		height: 25%;
		margin: 3rem 0 2rem;
    	#logo {
			width: 75%;
			height: 'auto';
		}
    }
    .show-password {
    	position: absolute;
    	font-size: 1.5rem;
    	z-index: 3;
    	right: 6px;
    	top: 4px;
    	color: @dark-grey;
    	&:hover, &:focus, &.shown {
    		color: @green;
    	}
    }
    .item-input {
    	padding-left: 0;
    	input {
	    	text-align: center;
	    	padding-left: 44px;
	    }
    }
    
    .button-green {
    	font-family: 'Semibold', sans-serif;
    	border-color: transparent;
    }
    h1, h2, h3, h4, h5, h6 {
    	color: @white;
    	font-family: 'Light', sans-serif;
    } 
    .loader {
    	color: @white;
    	font-size: 2.5rem;
    	margin: 6rem 0 2rem;
    	display: block;
    }
}
.popup{
	-webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
    box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
	.popup-head{
		border:0px;
	}
}
/**** Main Header Styles ****/
.bar-green {
	background: @green;
	height: 50px;
	color: @white;
	border-bottom: 3px solid #82b42f;
	.main-menu-toggle {
		color: rgba(0, 0, 0, 0.33);
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.33);
	}
	.title {
		color: @white;
	}
}

/**** Left Menu Styles ****/

.menu-left {
	.log-view {
		padding: 0 16px;
		width: 100%;
		text-align: center;
		min-height: initial;
		background: url('../../img/color.jpg') center bottom no-repeat;
		img {
			border-radius: 100%;
			top: auto;
			width: 70px;
			height: 70px;
			margin: 0.5rem auto 0px;
			border: 3px solid #fff;
		}
		h2 {
			color: @white;
			margin-top: 0;
			margin-bottom: 0.25rem;
			font-size: 1.2rem;
			font-family: 'Semibold', sans-serif;
			span {
				color: @light-green
			}
		}
		.desc {
			font-size: 0.8rem;
			margin-bottom: 0.5rem;
			font-family: 'Light', sans-serif;
			color: @white;
		}
	
	}
	.details {
			
			p {
				color: @dark-grey;
				margin-bottom: 0.5rem;
				.number {
					font-size: 2rem;
					font-family: 'Semibold', sans-serif;
					color: @green;
					margin-top:0.5rem;
					display:block;
				}
				.sign-in {
					font-family: 'Semibold', sans-serif;
					color: @green;
				}
			}
		}	
	.menu-sep {
		margin: 0.5rem 0 -1px;
		border-bottom: 2px solid @green;
		padding: 5px 16px;
		font-size: 1rem;
		color: @dark-grey;
		text-transform: uppercase;
		font-family: 'Semibold', sans-serif;
	}
	.list {
		.item {
			color: @grey;
			font-size: 0.8rem;
			background: #F5F5F5;
			&.item-divider {
				background: @white;
				color: @dark-grey;
				font-size: 1rem;
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
			}
			.item-content{
				background: #F5F5F5;
			}
		}
	}
}


/**** Job List Styles ****/
.job-list {
	background: transparent;
	overflow:visible;
	.job {
		background: @white;
		margin-bottom: 20px;
		border-radius: 1px;
		border: 0;
		padding: 10px;
		.job-details {
			.job-title {
				font-family: 'bold', sans-serif;
				font-size: 1.0rem;
				margin-bottom: 5px;
				color: @grey;
			}
			.detail {
				margin-bottom: 3px;
				font-size: 0.9rem;
				font-weight: 400;
			}
			.date{
				color:@green;
			}
			.location {
				font-family: 'Regular', sans-serif;
				font-size: 0.8rem;
				width: 200px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			.icon {
				color: lighten(@grey, 10%);
				width: 15px;
				display: inline-block;
				text-align: center;
				margin-right:5px;
			}
		}
		.job-price {
			text-align: center;
			color: @green;
			font-family: 'bold', sans-serif;
		}
		.job-actions {
			background: url('../../img/action-bg.png');
			margin: 0 -10px -10px;
			padding: 10px 20px;
			font-size: 1.1rem;
			.clearfix;
			.apply-button {
				float: left;
				position: relative;
				line-height: 40px;
				width: 99px;
				font-size: 1rem;
				.minyawn-head {
					background: url('../../img/minion-vector-head.png') no-repeat;
					height: 20px;
					width: 20px;
					background-size: 20px 20px;
					position: absolute;
					top: 0;
					right:0;
				}
			}
			.applicants {
				float: right;
				text-align: right;
				.min-icon {
					display: inline-block;
					width: 22px;
					height: 38px;
					background: url('../../img/minion-vector-grey.png') no-repeat;
					background-size: 22px 38px;
					&.minyawn-applied {
						background: url('../../img/minion-vector.png') no-repeat;
						background-size: 22px 38px;
					}
					&.minyawn-empty {
						background: url('../../img/minion-vector-body.png') no-repeat center bottom;
						background-size: 22px 20px;
					}
				}
				.min-count{
					display: inline-table;
					width: 30px;
					float: right;
					margin-left: 5px;
					color: @green;
					font-weight: 200;
					font-size: 1.3rem;
					line-height: 41px;
				}
			}
		}
		&.not-applicable {
			border-left-color: @red;
			.job-actions {
				color: @grey;
			}
		}
	}
	.message {
		text-align: center;
		color: @grey;
		border: 1px dashed @grey;
		.icon {
			display: block;
			font-size: 3rem;
			color: @grey;
			margin-bottom: 0.2rem;
		}
		&.connection-error {
			background: transparent;
			border: 0;
		}
		&.no-more {
			margin-bottom: 10px !important;
			color: lighten(@dark-grey, 20%);
			background: transparent;
		}
	}
}
.single-job-card{
	box-shadow: 0px 0px 6px #888888;
	-moz-box-shadow: 0px 0px 6px #888888;
	-webkit-box-shadow: 0px 0px 6px #888888;
	border-left: 2px solid @green;
}
/**** Scroll Refresher Styles ****/
.scroll-refresher {
	top: -70px;
}

/**** Loader Styles ****/
.loader {
	text-align: center;
	font-size: 2rem;
	margin-top: 41vh;
}

/**** Single Job Styles ****/
.single-job-card {
	.item {
		white-space: normal;
		overflow: visible;
		border: 0;
		* {
			white-space: normal;
		}
		.job-title {
			color: darken(@grey, 20%);
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		.job-details {
			padding: 0;
			margin: 0 0 0.5rem;
			.col {
				padding: 0;
			}
			.detail-header {
				color: @grey;
				text-transform: uppercase;
				font-size: 0.7rem;
				padding-bottom: 0.2rem;
				margin-bottom: 0.5rem;
				border-bottom: 1px solid @grey;
			}
			.job-price {
				color: @green;
				
			}
			.job-time {
				padding-right: 0.5rem;
				.time {
					font-size: 1.1rem;
					display: inline-block;
				}
				.date {
					font-size: 0.8rem;
					color: @green;
					&:after {
						display: block;
						content: "";
					}
				}
			}
			.job-location {
				color: @dark-grey;
				font-size: 0.9rem;
				font-family: 'light', sans-serif;
			}
			.job-description {
				font-size: 0.8rem;
				color: lighten(@dark-grey, 10%);
				margin-bottom: 1rem;
			}
			.job-snippets {
				font-size: 0.8rem;
				color: darken(@grey, 10%);
			}
			.author{
				color: @green!important;
			}
		}
	}
}
.single-job-apply {
	margin: 20px 10px;
	.col {
		padding: 0;
	}
	.detail-header {
		text-transform: uppercase;
		color: @green;
		margin-bottom: 0;
	}
	.helper-text {
		font-size: 0.8rem;
		color: @grey;
		font-family: 'italic', sans-serif;
		margin: 0 0 0.5rem;
		padding-right: 0.2rem;
		padding-top: 0.5rem;
		border-top: 1px solid @grey;
	}
	.apply-btn {
		border: 0;
		text-transform: uppercase;
		padding: 0 2rem;
		font-family: 'Semibold', sans-serif;
		line-height: 1rem;
		border-radius: 1px;
	}
	.pic-upload {
		border: 1px solid darken(@grey, 15%);
		text-align: center;
		font-size: 3rem;
		color: @green;
		line-height: 4rem;
	}
}

/**** Minyawn List Styles ****/
.minyawn-list {
	margin: 20px 10px;
	.detail-header {
		color: @grey;
		text-transform: uppercase;
		font-size: 0.7rem;
		padding-bottom: 0.2rem;
		margin-bottom: 0.5rem;
		border-bottom: 1px solid @grey;
	}
	.list {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		.minyawn {
			min-width: 43vw;
			max-width: 43vw;
			margin: 0.5rem 1vw;
			border: 0;
			white-space: normal;
			box-shadow: 0px 0px 6px #888888;
			-moz-box-shadow: 0px 0px 6px #888888;
			-webkit-box-shadow: 0px 0px 6px #888888;
			&:first-child {
				margin-left: auto;
			}
			&:last-child {
				margin-right: auto;
			}
		}
	}
}

.minyawn {
	.minyawn-view {
		padding: 1rem;
		text-align: center;
		overflow: auto;
		.minyawn-pic {
			width: 100px;
			height: 100px;
			margin: 0 auto 0.5rem;
			img {
				max-width: 100%;
				width: 100px;
				height: 100px;
				border-radius: 100%;
				border: 3px solid lighten(@grey, 10%);
			}
		}
		.minyawn-name {
			font-size: 1.2rem;
			color: @green;
			margin: 0 0 0.5rem;
		}
		.minyawn-details {
			margin: 0 0 0.5rem;
			.detail {
				color: @grey;
				font-size: 0.8rem;
				margin-bottom: 0.5rem;
			}
		}
		.rating {
			font-size: 0.9rem;
			.up {
				color: @green;
				text-align: right;
			}
			.down {
				color: @red;
				text-align: left;
			}
		}
	}
}


/* Animate */
.arrow-loader{
	 background: url("../../img/arrow.gif") no-repeat center bottom !important;
	 width:100%;
	 
}


/*Modal-popup*/
.modal-backdrop{
	.scroll-content{
		top:15% !important;
	}

}
.modal{
	width:90%
}

#draggableContainer{
	display: block;
	overflow: hidden;
	padding-right: 4px;
}


