@import url(../../styles/fonts/open-sans/open-sans.css);
/*
App Name:       Minyawns Ionic App
Theme URI:      http://ajency.in/
Description:    Style Classes for the Ionic App
Author:         Jarryd for Ajency.in
Author URI:     http://ajency.in/
Version:        0.1.0
*/
/**** Fonts ****/
/****Colors****/
.title {
  top: 0.7rem!important;
}
.expired,
.job-closed {
  color: #ff3333 !important;
}
.menu-content {
  box-shadow: none !important;
}
/****Clearfix****/
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "";
  display: table;
}
.pull-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.p-20 {
  padding: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.alone .list {
  display: block !important;
  margin: auto;
}
.sm-padding .item {
  padding: 10px !important;
}
.no-wrap {
  white-space: normal !important;
}
/**** Body Styles ****/
body {
  font-family: 'opensans' !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body input,
body button,
body select,
body textarea,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 .item,
body .item-divider {
  font-family: 'opensans' !important;
}
body .pane {
  background: #edf5e3;
}
body .pane .has-header {
  top: 50px;
  -webkit-overflow-scrolling: touch;
}
/**** Button Styles ****/
.button.button-green {
  background: #88d816;
  border-color: #4e7b0d;
  color: #ffffff;
}
.button.button-facebook {
  background: #3D578C;
  border-color: transparent;
  color: #ffffff;
  font-family: 'Light', sans-serif;
}
.button.button-facebook.icon-left:before {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin-right: 0.4rem;
}
/**** Login View Styles ****/
.login-view {
  background: #6BB304 !important;
  background-color: #414141;
  background-size: cover !important;
  text-align: center;
}
.login-view #logo-cover {
  width: 100%;
  height: 25%;
  margin: 6rem 0 2rem;
}
.login-view #logo-cover #logo {
  width: 75%;
  height: 'auto';
}
.login-view .show-password {
  position: absolute;
  font-size: 1.5rem;
  z-index: 3;
  right: 6px;
  top: 4px;
  color: #414141;
}
.login-view .show-password:hover,
.login-view .show-password:focus,
.login-view .show-password.shown {
  color: #88d816;
}
.login-view .item-input {
  padding-left: 0;
}
.login-view .item-input input {
  text-align: center;
  padding-left: 44px;
}
.login-view .button-green {
  font-family: 'Semibold', sans-serif;
  border-color: transparent;
}
.login-view h1,
.login-view h2,
.login-view h3,
.login-view h4,
.login-view h5,
.login-view h6 {
  color: #ffffff;
  font-family: 'Light', sans-serif;
  font-size: 1rem;
}
.login-view .loader {
  color: #ffffff;
  font-size: 2.5rem;
  margin: 6rem 0 2rem;
  display: block;
}
.popup {
  -webkit-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
  box-shadow: inset 25px 0px 25px -25px rgba(0, 0, 0, 0.45), inset -25px 0px 25px -25px rgba(0, 0, 0, 0.45);
}
.popup .popup-head {
  border: 0px;
}
/**** Main Header Styles ****/
.bar-subheader {
  background: #88d816;
  height: 130px;
}
.bar-subheader h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.bar-subheader span {
  color: #ffffff;
}
.bar-subheader .row {
  position: absolute;
  bottom: 0px;
}
.bar-subheader .total-job {
  font-size: 0.8rem;
  text-align: center;
  margin-top: -8px;
}
.bar-subheader .total-job b {
  display: block;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: center;
}
.bar-subheader .badge {
  background-color: #ffffff;
  visibilty: hidden;
  color: #A3A3A3;
  position: absolute;
  bottom: -17px;
  right: 25px;
  padding: 8px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  -moz-box-shadow: 0px 2px 5px #7E7E7E;
  -webkit-box-shadow: 0px 2px 5px #7E7E7E;
  box-shadow: 0px 2px 5px #7E7E7E;
}
.bar-subheader .badge i {
  font-size: 2.1rem;
}
.bar-subheader .badge:active {
  opacity: 0.8;
}
.bar-green {
  background: #84D50E;
  height: 50px;
  color: #ffffff;
  border-bottom: 0px;
}
.bar-green .main-menu-toggle {
  color: rgba(0, 0, 0, 0.33);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.33);
}
.bar-green .title {
  color: #ffffff;
}
/**** Left Menu Styles ****/
.menu-left .log-view {
  padding: 3px 16px;
  width: 100%;
  text-align: center;
  min-height: initial;
  /*background: url('../../img/color.jpg') center bottom no-repeat;*/
  background: #6FB509;
}
.menu-left .log-view .profile-img {
  border-radius: 100%;
  top: auto;
  width: 90px;
  height: 90px;
  margin: 0.5rem auto 1rem;
}
.menu-left .log-view .profile-img img {
  border-radius: 100%;
  top: auto;
  width: 90px;
  height: 90px;
  border: 2px solid #fff;
}
.menu-left .log-view h2 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-family: 'Semibold', sans-serif;
}
.menu-left .log-view h2 span {
  color: #000000;
}
.menu-left .log-view .desc {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-family: 'Light', sans-serif;
  color: #ffffff;
}
.menu-left .details p {
  color: #414141;
  margin-bottom: 0.5rem;
}
.menu-left .details p .number {
  font-size: 2rem;
  font-family: 'Semibold', sans-serif;
  color: #88d816;
  margin-top: 0.5rem;
  display: block;
}
.menu-left .details p .sign-in {
  font-family: 'Semibold', sans-serif;
  color: #88d816;
}
.menu-left .menu-sep {
  margin: 0.5rem 0 -1px;
  border-bottom: 2px solid #88d816;
  padding: 5px 16px;
  font-size: 1rem;
  color: #414141;
  text-transform: uppercase;
  font-family: 'Semibold', sans-serif;
}
.menu-left .list .button {
  width: 100%!important;
  min-width: 100%!important;
  display: block !important;
  border-right: 0px;
  text-align: left;
}
/**** Job List Styles ****/
.job-list {
  -webkit-overflow-scrolling: touch;
  background: transparent;
  overflow: visible;
  /*	.available{
		border-left:2px solid @green !important;
	}
	.expire{
		border-left:2px solid @red !important;
	}*/
}
.job-list .item {
  background: #fff;
  padding: 50px 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -mox-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.job-list .item {
  background: none !important;
  border: 0px!important;
  padding: 0!important;
}
.job-list .cssSlideUp {
  height: auto !important;
}
.job-list .job {
  background: #ffffff;
  margin-bottom: 20px;
  border-radius: 1px;
  border: 0;
  padding: 0px;
}
.job-list .job .job-details .job-title {
  font-family: 'bold', sans-serif;
  font-size: 1.0rem;
  margin-bottom: 5px;
  color: #b1b1b1;
}
.job-list .job .job-details .detail {
  margin-bottom: 3px;
  font-size: 0.9rem;
  font-weight: 400;
}
.job-list .job .job-details .date {
  color: #88d816;
}
.job-list .job .job-details .location {
  font-family: 'Regular', sans-serif;
  font-size: 0.8rem;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.job-list .job .job-details .icon {
  color: #cbcbcb;
  width: 15px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}
.job-list .job .job-price {
  text-align: right;
  color: #88d816;
  font-family: 'bold', sans-serif;
}
.job-list .job .single-job-apply {
  margin: 0px 4px;
  padding: 7px 0px;
}
.job-list .job .single-job-apply .helper-text {
  border: 0px !important;
  padding-top: 0px !important;
  margin: 0px;
  color: #ffffff !important;
}
.job-list .job .single-job-apply .button {
  margin: 1px;
  background: #88d816 !important;
  border: 0px;
  width: 100% !important;
  min-height: 0px !important;
}
.job-list .job .single-job-apply .applied {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .single-job-apply .applied span {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -1px 0px no-repeat;
  margin: auto;
}
.job-list .job .single-job-apply .hired {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .single-job-apply .hired span {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -36px 0px no-repeat;
  margin: auto;
}
.job-list .job .single-job-apply .not-applied {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .single-job-apply .not-applied span {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -69px 0px no-repeat;
  margin: auto;
}
.job-list .job .single-job-apply i {
  font-size: 20px;
  text-align: right;
  padding-right: 7px;
  color: #ffffff;
  display: block;
}
.job-list .job .arrow {
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  z-index: 0;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  cursor: pointer;
  color: #b1b1b1;
  position: absolute;
  padding: 17px 10px;
  right: 0px;
}
.job-list .job .up-arrow:before {
  content: "\f151" !important;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  z-index: 0;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  cursor: pointer;
  color: #b1b1b1;
  position: absolute;
  padding: 17px 10px;
  right: 0px;
}
.job-list .job .down-arrow:before {
  content: "\f155" !important;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  z-index: 0;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  cursor: pointer;
  color: #b1b1b1;
  position: absolute;
  padding: 17px 10px;
  right: 0px;
}
.job-list .job .job-actions {
  padding: 3px 0px;
  border-top: 1px solid rgba(204, 204, 204, 0.46);
  font-size: 1.1rem;
  *zoom: 1;
}
.job-list .job .job-actions:after,
.job-list .job .job-actions:before {
  clear: both;
  content: "";
  display: table;
}
.job-list .job .job-actions .applicants .col {
  padding: 0px;
}
.job-list .job .job-actions .applied {
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .job-actions .applied span {
  display: inline-block;
  float: left;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -1px 0px no-repeat;
  margin: auto;
}
.job-list .job .job-actions .applied b {
  line-height: 2.5em;
  margin-left: 5px;
}
.job-list .job .job-actions .hired {
  display: inline-block;
  float: left;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .job-actions .hired span {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -36px 0px no-repeat;
  margin: auto;
}
.job-list .job .job-actions .hired b {
  line-height: 2.5em;
  margin-left: 5px;
}
.job-list .job .job-actions .not-applied {
  display: inline-block;
  text-align: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #868080;
  margin-right: 5px;
}
.job-list .job .job-actions .not-applied span {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../../img/sprite.png') -69px 0px no-repeat;
  margin: auto;
}
.job-list .job .job-actions .apply {
  color: #60A70D;
}
.job-list .job .job-actions .apply-button {
  position: relative;
  line-height: 33px;
  margin-right: 30px;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: right;
}
.job-list .job .job-actions .apply-button .minyawn-head {
  background: url('../../img/minion-vector-head.png') no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.job-list .job .job-actions .applicants {
  font-size: 0.8rem;
}
.job-list .job .job-actions .applicants i {
  margin-right: 10px;
  font-size: 2rem;
  color: #777777;
  float: left;
}
.job-list .job .job-actions .applicants span {
  line-height: 34px;
}
.job-list .job .job-actions .appicant-job {
  float: right;
  font-size: 2.2rem;
  color: #5A5A5A;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.job-list .job.not-applicable {
  border-left-color: #ff3333;
}
.job-list .job.not-applicable .job-actions {
  color: #b1b1b1;
}
.job-list .message {
  text-align: center;
  color: #b1b1b1;
  border: 1px dashed #b1b1b1;
}
.job-list .message .icon {
  display: block;
  font-size: 3rem;
  color: #b1b1b1;
  margin-bottom: 0.2rem;
}
.job-list .message.connection-error {
  background: transparent;
  border: 0;
}
.job-list .message.no-more {
  margin-bottom: 10px !important;
  color: #747474;
  background: transparent;
}
.single-job-card {
  margin: 140px 10px 0px;
  /*border-left: 2px solid @green;
	border:1px solid rgba(184, 184, 184, 0.51);*/
}
/**** Scroll Refresher Styles ****/
.scroll-refresher {
  top: -70px;
}
/**** Loader Styles ****/
.loader {
  text-align: center;
  font-size: 2rem;
  margin-top: 41vh;
}
.minyawn .loader {
  margin-top: 6vh !important;
  height: 112px;
}
/**** Single Job Styles ****/
.single-card {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 0px;
  margin: 140px 10px 0px;
}
.single-card .item {
  white-space: normal;
  overflow: visible;
  border: 0px;
  background: none !important;
}
.single-card .item i {
  color: #8bc34a;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  font-size: 1.3rem;
}
.single-card .item .job-details {
  margin-bottom: -1rem;
  visibility: hidden;
}
.single-card .item .job-details .details span {
  line-height: 2.2rem;
}
.more-details {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 0px;
}
.more-details .item {
  white-space: normal;
  overflow: visible;
  border: 0px;
  background: none !important;
  padding: 0px;
}
.more-details .item .detail-header {
  font-size: 0.7rem;
  color: #5E5D5D;
  height: 20px;
}
.more-details .item .author {
  color: #527429 !important;
}
.more-details .item .job-snippets {
  font-size: 0.8rem;
  opacity: 0.7;
}
.single-job-card {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: 0px;
  -webkit-filter: none !important;
}
.single-job-card .item {
  white-space: normal;
  overflow: visible;
  border: 0px;
  background: none !important;
}
.single-job-card .item * {
  white-space: normal;
}
.single-job-card .item .job-title {
  color: #557234;
  font-size: 1.1rem;
  margin-bottom: 0rem;
  font-weight: bold;
  line-height: 1.5rem;
  height: 28px;
  overflow: hidden;
}
.single-job-card .item .date {
  font-size: 0.8rem;
  color: #989898;
}
.single-job-card .item .date:after {
  display: block;
  content: "";
}
.single-job-card .item .job-details {
  margin-top: 1rem;
}
.single-job-card .item .job-details i {
  color: #88d816;
  opacity: 0.6;
}
.single-job-card .item .job-details .col {
  padding: 0;
}
.single-job-card .item .job-details .detail-header {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #b1b1b1;
}
.single-job-card .item .job-details .job-price {
  color: #88d816;
  /*background: @green;
				border-radius: 7px;
				text-align: center;
				padding: 4px 0px;*/
  line-height: 1.5rem;
}
.single-job-card .item .job-details .job-time {
  padding-right: 0.5rem;
}
.single-job-card .item .job-details .job-time .time {
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.single-job-card .item .job-details .job-location {
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 500;
}
.single-job-card .item .job-details .job-description {
  font-size: 0.8rem;
  color: #5a5a5a;
  margin-bottom: 1rem;
}
.single-job-card .item .job-details .job-snippets {
  font-size: 0.8rem;
  color: #989898;
}
.single-job-card .item .job-details .author {
  color: #487513 !important;
}
.single-job-apply {
  margin: 20px 10px;
  background: #ffffff;
  height: auto !important;
}
.single-job-apply h3 {
  margin-bottom: 0px;
}
.single-job-apply .col {
  padding: 0;
}
.single-job-apply .detail-header {
  text-transform: uppercase;
  color: #88d816;
  margin-bottom: 0;
}
.single-job-apply .warning-msg {
  text-transform: uppercase;
  color: #ff3333 !important;
  margin-bottom: 0;
}
.single-job-apply .apply-btn {
  border: 0;
  text-transform: uppercase;
  padding: 0 2rem;
  font-family: 'Semibold', sans-serif;
  line-height: 1rem;
  border-radius: 1px;
}
.single-job-apply .pic-upload {
  /*border: 1px solid darken(@grey, 15%);*/
  text-align: center;
  font-size: 3rem;
  color: #88d816;
  margin: -5px;
  width: 88px;
  height: auto;
  float: right;
  overflow: hidden;
  position: relative;
  background: #88d816;
}
.single-job-apply .pic-upload i {
  display: block;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}
.single-job-apply .pic-upload img {
  width: 100%;
  height: 100%;
}
.single-job-apply .helper-text {
  font-size: 0.9rem;
  margin-right: 20px;
  padding: 17px 10px;
  color: #649B69;
}
.single-job-apply .apply-job .overlay {
  width: 80px;
  height: 80px;
  background: rgba(84, 255, 0, 0.45);
  position: absolute;
  z-index: 999;
}
.single-job-apply .unapply-job .overlay {
  width: 80px;
  height: 80px;
  background: rgba(255, 0, 0, 0.61);
  position: absolute;
  z-index: 999;
}
/**** Minyawn List Styles ****/
.minyawn-list {
  margin: 20px 10px;
}
.minyawn-list .detail-header {
  color: #838383;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #b1b1b1;
}
.minyawn-list .list {
  width: 100%;
  display: inline-block;
}
.minyawn-list .list .minyawn {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  max-width: 48%;
  margin: 3px 3px 5px 3px;
  border: 0;
  white-space: normal;
  box-shadow: 3px 2px 5px #C2C2C2;
  -moz-box-shadow: 3px 2px 5px #C2C2C2;
  -webkit-box-shadow: 3px 2px 5px #C2C2C2;
  float: left;
  max-height: 300px;
}
.minyawn {
  padding: 15px;
}
.minyawn .minyawn-view {
  /*padding: 1rem;*/
  text-align: center;
  overflow: auto;
}
.minyawn .minyawn-view .minyawn-pic {
  width: 100px;
  height: 100px;
  margin: 0 auto 0.5rem;
}
.minyawn .minyawn-view .minyawn-pic img {
  max-width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #cbcbcb;
}
.minyawn .minyawn-view .minyawn-name {
  font-size: 0.8rem;
  color: #5e8e26;
  margin: 0 0 0.5rem;
  overflow: visible;
  white-space: normal;
}
.minyawn .minyawn-view .minyawn-details {
  margin: 0 0 0.5rem;
}
.minyawn .minyawn-view .minyawn-details .detail {
  color: #b1b1b1;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}
.minyawn .minyawn-view .rating {
  font-size: 0.9rem;
}
.minyawn .minyawn-view .rating .up {
  color: #88d816;
  text-align: right;
}
.minyawn .minyawn-view .rating .down {
  color: #ff3333;
  text-align: left;
}
/* Animate */
.arrow-loader {
  background: url("../../img/arrow.gif") no-repeat center bottom !important;
  width: 100%;
}
/*Modal-popup*/
.modal-backdrop .scroll-content {
  top: 15% !important;
}
.modal {
  width: 90%;
}
#draggableContainer {
  display: block;
  overflow: hidden;
  padding-right: 4px;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
}
.zoomIn {
  -webkit-animation-delay: 2s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    visibility: visible;
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    visibility: visible;
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    visibility: visible;
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    visibility: visible;
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
@keyframes bounceInLeft {
  opacity: 0;
  
  0%,
  60%,
  75%,
  90%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    visibility: visible;
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    visibility: visible;
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    visibility: visible;
  }
  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    visibility: visible;
  }
  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: none;
    transform: none;
    visibility: visible;
  }
}
.bounceInLeft {
  -webkit-animation-delay: 0.5s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Title Scroll*/
ul.marquee {
  /* required styles */
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  position: relative;
  overflow: hidden;
  /* optional styles for appearance */
  width: 500px;
  /* set the required width */
  height: 34px;
  /* set the height required to accomodate the chosen font size */
  background-color: #222;
  /* scroller background color */
  border: 5px solid #0593FF;
  /* border width, type and color */
  border-radius: 7px;
  /* border radius */
  -moz-border-radius: 7px;
  /* border radius */
  -webkit-border-radius: 7px;
  /* border radius */
}
ul.marquee li {
  /* required styles */
  position: absolute;
  top: -999em;
  left: 0;
  display: block;
  white-space: nowrap;
  /* keep all text on a single line */
  /* optional styles for appearance */
  font: 24px Trebuchet MS, Helvetica, sans-serif;
  /*font size and family */
  color: #eee;
  /* font color */
  padding: 3px 5px;
}
ul.marquee li a {
  color: #0593FF;
}
/* link text color */
ul.marquee li a:hover {
  color: #FF0000;
}
/* link rollover color */
.single-job-card {
  padding: 0;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
.btn-icon {
  font-size: 20px;
}
.no-more {
  background: none !important;
  border: 0!important;
  text-align: center!important;
}
.detail-loader {
  text-align: center;
  margin-top: 25px;
}
/**pop up **/
.popup {
  box-shadow: none !important;
}
.popup .popup-title {
  font-size: 1.5rem;
}
.popup .popup-body {
  padding: 0px 10px 10px;
}
.error-minion {
  text-align: center;
}
.error-minion img {
  width: 100px;
}
.error-minion h5 {
  margin: 0px;
}
.static-bottom .item:first-child {
  border-top: 0px !important;
}
