/*Slise up down animation*/
.content-to-show. {
    position: relative;
    height: 100px;
    -webkit-transition:top linear 1.5s;
    transition:top linear 1.5s;
    top: 0;
}

.content-to-show.ng-hide {
    top: -100px;
}

.content-to-show.ng-hide-add, .content-to-show.ng-hide-remove {
    display:block!important;
}

/*Rotate animation*/
.rotate, 
.rotateCounterwise {
    -webkit-transition: 600ms ease all;
    -moz-transition: 600ms ease all;
    -o-transition: 600ms ease all;
    transition: 600ms ease all;
}
.rotate {
    -webkit-transform: rotate(180deg);
}
.rotateCounterwise {
    -webkit-transform: rotate(0deg);
}