<ion-view title="{{title}}">

	<div class="bar bar-subheader">
		<div class="row">
			<div class="col col-50"><h1>{{title}}</h1></div>
			<div class="col total-job">&nbsp;</div>
			<div class="col total-job"><b>50</b> Jobs Open</div>
		</div>
	</div>

	<ion-content ng-init="requestPending=false">

		<ion-refresher 
			ng-init="showRefresher=false" 
			ng-if="showRefresher"
			pulling-text="Pull to refresh..."
			refreshing-icon="ion-loading-c"
			on-refresh="onPullToRefresh()">
			
		</ion-refresher>
	
		<div class="list list-inset job-list single-job-card" >

		    <ion-item ng-show="showConnectionError" ng-click="onViewLoad()" class="message connection-error">
		    	<i class="icon ion-alert-circled"></i>
			    Connection error. Try again.
			</ion-item>


			<ion-item  ng-repeat="job in jobs" ng-controller="controller" ng-click="toggleAccordian()">
		        
		        <div class="job">  

		            <!-- <div ng-if="jobOpen"> -->

					<div class="row" >
						<div class="col" >
							<div class="row" >
								<div class="col col-80" >
									<h2 class="job-title">
									<ul id="ticker{{job.post_id}}">
									<li><a>{{ job.post_title }}</a></li><!-- eccetera -->
									</ul>
									</h2>
									<span class="date">{{start_date}} </span>
								</div>

								<div class="col col" >
									<div class="job-price">
										${{ job.job_wages }}
									</div>
								</div>
							</div>

							<div class="row job-details">
								<div class="col">
									<div class="job-time">
										<i class="ion-android-clock"></i> &nbsp; 
										<span class="time">{{ job.job_start_time }}{{job.job_start_meridiem}} - {{ job.job_end_time }}{{ job.job_end_meridiem }}</span>
										<br>
										<i class="ion-flag"></i>&nbsp;&nbsp;
										<span class="time">{{ job.job_location }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="job-actions">

                        <div class="row">

                            <div class="col col-50" ng-switch="jobStatus"> 
                                <div class="applied" ng-switch-when="Applied">
                                    <span></span>
                                    <b>Applied</b>
                                </div>
                                <div class="hired" ng-switch-when="Hired">
                                    <span></span>
                                    <b>Hired</b>
                                </div>
                            </div>

                            <div class="col col-50">
                                <div id="draggableContainer">
                                    <i class="ion-ios7-download-outline appicant-job" ng-click="onSingleJobClick(job.post_id)" ></i>
                                    
                                    <div ng-class="(applicationStatus==='Application Open')? 'apply-button apply' : 'expired job-closed apply-button'">{{applicationStatus}}</div>

                                </div>
                            </div>

                        </div>

                    </div>

		       		<!-- </div> -->

		        </div>   

			</ion-item>

		</div>

		<ion-item ng-show="showNoMoreJobs" class="message no-more">
	      <i class="icon ion-eye-disabled"></i>
	      That's all folks! No more jobs to be displayed.
	    </ion-item>

		<ion-infinite-scroll icon="ion-loading-c" distance="5%" ng-if="canLoadMore" on-infinite="onInfiniteScroll()">
		</ion-infinite-scroll>

	</ion-content>

</ion-view>

