
<ion-header-bar class="bar bar-header bar-green">
  <button class="button button-icon icon ion-android-drawer main-menu-toggle" ng-click="toggleLeft()"></button>
  <img id="logo" src="./img/minyawnsHeaderLogo.png"/>
  <button class="button button-icon icon ion-android-more pull-right settings-button"></button>
</ion-header-bar>

<ion-side-menus>

	<!-- Main content -->
	<ion-side-menu-content>
		
		<ion-view class="home-view">
		    <ion-content>

		    	<h4>Home View</h4>

		    </ion-content>
		</ion-view>

  	</ion-side-menu-content>


	<!-- Left menu -->
	<ion-side-menu side="left">
		<ion-list>
			<ion-item class="item-avatar">
				<img src="./img/venkman.jpg">
				<h2>Pete Venkman</h2>
				<p>Minions</p>
			</ion-item>
			<ion-item class="item item-divider">
				Browse
			</ion-item>
			<ion-item>
				All Jobs
			</ion-item>
			<ion-item>
				Minions Directory
			</ion-item>
			<ion-item>
				Blog
			</ion-item>
			<ion-item>
				Create Job
			</ion-item>
			<ion-item>
				Logout
			</ion-item>
		</ion-list>
	</ion-side-menu>

</ion-side-menus>