<ion-view title="JOB DETAILS">

  <ion-content  ng-show="mainLoader">
  	<div class="padding loader">
		<i class="icon ion-loading-c"></i>
	</div>
  </ion-content>

  <ion-content scrollbar-y="false" ng-hide="mainContent">
  	<div class="list list-inset single-job-card sm-padding">
  		<div class="item">

	  		<h2 class="job-title">
	  			<ul id="ticker01">
   					<li><a>{{ jobTitle }}</a></li> <!-- eccetera -->
				</ul>
			</h2>

	  		<div class="row job-details">
	  			<div class="col">
	  				<h4 class="detail-header">When</h4>
	  				<div class="job-time">
	  					<span class="time">{{noOfDays}} DAYS TO GO</span>
	  					<span class="date">{{startDate}}</span>
	  					<span class="time">{{startTime}}{{startMeridiem}} - {{endTime}}{{endMeridiem}}</span>
	  				</div>
	  			</div>
	  			<div class="col col-20">
	  				<h4 class="detail-header">Wages</h4>
	  				<div class="job-price">
	  					${{wages}}
	  				</div>
	  			</div>
	  		</div>
	  		<div class="job-details">
	  			<h4 class="detail-header">Where</h4>
	  			<div class="job-location">
	  				{{jobLocation}}
	  			</div>
	  		</div>
	  	</div>
	</div>

	<div >
		<!-- <button class="button button-small button-positive apply-btn" ng-class="{true: 'rotate', false: 'rotateCounterwise'}[!toggle]" ng-click="toggle=!toggle">
					  Apply
		</button> -->
		<div class="single-job-apply cssSlideUp">

			<div ng-hide="applyLoader">
				<div class="row">
					<div class="col">
						<h3 class="detail-header ">{{applyHeader}}</h3>
					</div>
					<div class="col col-20">
						&nbsp;
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="helper-text">
							To apply, take a picture or upload one, and when done, just hit the button below.
						</div>
						<button class="button button-small button-positive apply-btn" ng-click="onApply()">
						  {{applyButton}}
						</button>
					</div>
					<div class="col col-20">
						<div class="pic-upload" ng-click="takePicture()">
						  
						  <i class="icon ion-camera" ng-if="!picturePresent">
							 <img ng-src="{{profileImage}}" ></img>
						  </i> 	

						  <i class="hidden" ng-if="picturePresent">
							 <img align="middle" ng-src="{{profileImage}}" width="70" height="50" ></img>
						  </i> 	
						</div>
					</div>
				</div>
			</div>

			<div  ng-show="applyLoader">
				<i class="icon ion-loading-c"></i>
			</div>
		</div>
		
	</div>
	
	
	
	<div class="list list-inset single-job-card">
  		<div class="item">
	  		<div class="job-details">
	  			<h4 class="detail-header">More about the Job</h4>
	  			<div class="job-description">
	  				{{jobDetails}} 
	  			</div>
	  		</div>
	  		<div class="row job-details">
	  			<div class="col">
	  				<h4 class="detail-header">Posted By</h4>
	  				<div class="job-snippets author">
		  				{{postedBy}}
		  			</div>
	  			</div>
	  			<div class="col">
	  				<h4 class="detail-header">Category</h4>
	  				<div class="job-snippets">
		  				{{category}}
		  			</div>
	  			</div>
	  			<div class="col">
	  				<h4 class="detail-header">Tags</h4>
	  				<div class="job-snippets">
		  				{{jobTags}}
		  			</div>
	  			</div>
	  		</div>
	  	</div>
	</div>
	<div class="minyawn-list">
		<h4 class="detail-header">Minyawns who have applied</h4>
		<!-- No On Applied For job-->
			<ion-list ng-if="!minyawnsAppliedPresent">
				<ion-item class="minyawn">

					<div class="padding loader" ng-show="minionLoader">
						<i class="icon ion-loading-c"></i>
					</div>
					
					<div ng-hide="minionLoader">

						<div class="minyawn-view">
							<div class="minyawn-pic">
								 <img src="./img/applicants.png"> 
							
							</div>
							<h5 class="minyawn-name no-wrap"> Be the first to apply</h5>
							<div class="row ">
								<div class="col up text-center">
									No one has been hired for this job yet. Apply and get hired
								</div>
								
							</div>
						</div>

					</div>

				</ion-item>
				
			</ion-list>
				<!-- No On Applied For job-->	
		<ion-scroll direction="x" has-bouncing="true" style="width:100vw;" on-touch="disableMenuDrag()" on-release="enableMenuDrag()" ng-if="minyawnsAppliedPresent">

			<ion-list>
				<ion-item class="minyawn"
					ng-repeat="minion in applicants"
					ng-click="openPopup(minion)"
					ng-controller="ApplicantController"
					ng-init="minionLoader=true">

					<div class="padding loader" ng-show="minionLoader">
						<i class="icon ion-loading-c"></i>
					</div>
					
					<div ng-hide="minionLoader">

						<div class="minyawn-view">
							<div class="minyawn-pic">
								<!-- <img src="./img/venkman.jpg"> -->
								<div ng-bind-html="details.user_image"></div>
							</div>
							<h5 class="minyawn-name">{{details.name}}</h5>
							<div class="row rating">
								<div class="col up">
									<i class="icon ion-thumbsup"></i> <span class="count">{{details.rating_positive}}</span>
								</div>
								<div class="col down">
									<i class="icon ion-thumbsdown"></i> <span class="count">{{details.rating_negative}}</span>
								</div>
							</div>
						</div>

					</div>

				</ion-item>
				
			</ion-list>
		</ion-scroll>
	</div>
  </ion-content>
</ion-view>
