<ion-view title="Single Job">
  <ion-content>
  	<div class="list list-inset single-job-card">
  		<div class="item">
	  		<h2 class="job-title">Parking Attendant and Staff for Car Festival 3 Days</h2>
	  		<div class="row job-details">
	  			<div class="col">
	  				<h4 class="detail-header">When</h4>
	  				<div class="job-time">
	  					<span class="time">5 DAYS TO GO</span>
	  					<span class="date">August 30, 2014</span>
	  					<span class="time">3:30pm to 9:30pm</span>
	  				</div>
	  			</div>
	  			<div class="col col-20">
	  				<h4 class="detail-header">Wages</h4>
	  				<div class="job-price">
	  					$72
	  				</div>
	  			</div>
	  		</div>
	  		<div class="job-details">
	  			<h4 class="detail-header">Where</h4>
	  			<div class="job-location">
	  				4705 University Way NE, Suite 208, Seattle, WA  98125
	  			</div>
	  		</div>
	  	</div>
	</div>
	<div class="single-job-apply">
		<div class="row">
			<div class="col">
				<h3 class="detail-header">Apply Now</h3>
			</div>
			<div class="col col-20">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="helper-text">
					To apply, take a picture or upload one, and when done, just hit the button below.
				</div>
				<button class="button button-small button-positive">
				  Apply
				</button>
			</div>
			<div class="col col-20">
				<div class="pic-upload">
					<i class="icon ion-camera"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="list list-inset single-job-card">
  		<div class="item">
	  		<div class="job-details">
	  			<h4 class="detail-header">More about the Job</h4>
	  			<div class="job-description">
	  				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
	  			</div>
	  		</div>
	  		<div class="row job-details">
	  			<div class="col">
	  				<h4 class="detail-header">Posted By</h4>
	  				<div class="job-snippets">
		  				Optimal
		  			</div>
	  			</div>
	  			<div class="col">
	  				<h4 class="detail-header">Category</h4>
	  				<div class="job-snippets">
		  				Jobs, Parking, Minion
		  			</div>
	  			</div>
	  			<div class="col">
	  				<h4 class="detail-header">Tags</h4>
	  				<div class="job-snippets">
		  				Optimal, tag1, tag2
		  			</div>
	  			</div>
	  		</div>
	  	</div>
	</div>
  </ion-content>
</ion-view>