<ion-view title="<img src='./img/logo.png' height='30px'/>">

	<div class="bar bar-subheader">
		<div class="row">
			<div class="col col-100">
				<h1 class="job-title">
				<ul id="ticker01">
				<li><a>{{jobTitle}}</a></li>
				</ul>
				</h1>
				<span>{{startDate}}</span>
			</div>
		</div>

		<span class="zoomIn badge badge-assertive" ng-click="onBackClick()"><i class="ion-reply"></i></span>
	</div>

	<ion-content ng-show="mainLoader">
		<div class="padding loader">
			<i class="icon ion-loading-c" ></i>
		</div>
	</ion-content>

	<ion-content scrollbar-y="false" ng-hide="mainContent">

		<div class="list list-inset single-card sm-padding">
			<div class="item">
				
				<div class="row job-details bounceInLeft">
					<div class="col">
						<i class="ion-android-clock"></i>
					</div>
					<div class="col col-90">
						<div class="details">
							<span class="time">{{startTime}}{{startMeridiem}} - {{endTime}}{{endMeridiem}}</span>
						</div>
					</div>
				</div>

				<div class="row job-details bounceInLeft">
					<div class="col">
						<i class="ion-flag"></i>
					</div>
					<div class="col col-90">
						<div class="details">
							<span class="time">{{jobLocation}}</span>
						</div>
					</div>
				</div>

				<div class="row job-details bounceInLeft">
					<div class="col">
						<i class="ion-cash"></i>
					</div>
					<div class="col col-90">
						<div class="details">
							<span class="time">$ {{wages}}</span>
						</div>
					</div>
				</div>

				<div class="row job-details bounceInLeft">
					<div class="col">
						<i class="ion-person"></i>
					</div>
					<div class="col col-90">
						<div class="details">
							<span class="time">{{appliedCount}} Applied {{requiredCount}} Needed</span>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div>
			<div class="single-job-apply cssSlideUp">
				<div>
					<div class="row">
						<div class="col" ng-click="loginToApply()">
							<div ng-hide="applyLoader" class="helper-text">{{helperText}}</div>

							<div ng-show="applyLoader" class="detail-loader">
								<i class="icon ion-loading-c"></i> {{actionText}}...
							</div>
						</div>

						<div class="col col-20" ng-show="cameraIcon">
							<div class="pic-upload" ng-click="takePicture()" on-hold="onIconHold()">
								<div class="overlay"></div>
								<img ng-src="{{profileImage}}"/>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	
		<div class="list list-inset more-details">
			<div class="item">
				<div class="row job-details">
					<div class="col">
						<h4 class="detail-header">Posted By</h4>
						<div class="job-snippets author">{{postedBy}}</div>
					</div>

					<div class="col">
						<h4 class="detail-header">Category</h4>
						<div class="job-snippets">{{category}}</div>
					</div>

					<div class="col">
						<h4 class="detail-header">Tags</h4>
						<div class="job-snippets">{{jobTags}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="minyawn-list">

			<h4 class="detail-header">Minyawns who have applied</h4>

			<!-- No One Applied For job-->
			<ion-list ng-if="!minyawnsAppliedPresent" class="alone">
				
					
					<div class="padding loader " ng-show="minionLoader">
						<i class="icon ion-loading-c"></i> 
					</div>
						
				<div ng-hide="minionLoader" class="error-minion">
						<div class="minyawn-view">
							<div class="minyawn-pic">
								<img src="./img/applicants.png"> 
							</div>
							<h5 class="minyawn-name no-wrap">Be the first to apply</h5>
							<div class="row ">
								<div class="col up text-center">
								No one has been hired for this job yet. <br>Apply and get hired
								</div>
							</div>
						</div>
					</div>

			
			</ion-list>


			<ion-list>
				<ion-item class="minyawn"
					ng-repeat="minion in applicants"
					ng-controller="ApplicantController"
					ng-init="minionLoader=true">
					<!-- ng-click="openPopup(minion)" -->

						<div class="padding loader" ng-show="minionLoader">
							<i class="icon ion-loading-c"></i>
						</div>

						<div ng-hide="minionLoader">
							<div class="minyawn-view">
								<div class="minyawn-pic">
									<div ng-bind-html="details.user_image"></div>
								</div>

								<button class="button button-clear button-positive btn-icon"><i class="ion-social-facebook"></i></button ng-click="openFacebookLink(details.facebook_link)">
								
								<button class="button button-clear button-calm btn-icon"><i class="ion-social-linkedin"></i></button ng-click="openLinkedinLink(details.linkedin)">
									
								<h5 class="minyawn-name">{{details.name}}</h5>
								<h6>{{details.college}}</h6>
								<h6>{{details.major}}</h6>
								<h6 class="minyawn-name">{{details.user_email}}</h6>

								<div class="row rating">
									<div class="col up">
										<i class="icon ion-thumbsup"></i> <span class="count">{{details.rating_positive}}</span>
									</div>
									<div class="col down">
										<i class="icon ion-thumbsdown"></i> <span class="count">{{details.rating_negative}}</span>
									</div>
								</div>
								
								
							</div>
						</br></br>
						</div>

				</ion-item>
			</ion-list>

		</div>

	</ion-content>

</ion-view>


