<ion-view>

	<ion-nav-title>
		<img src='./img/logo.png' height='30px'/>
    </ion-nav-title>

    <ion-nav-buttons side="left">
		<button 
			menu-toggle="left" 
			class="button button-icon icon ion-drag main-menu-toggle"
			ng-if="view.title==='Browse Jobs';">
		</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader navheader">
		<div class="row">
			<div class="col col-50"><h1>{{view.title}}</h1></div>
			<div class="col total-job">&nbsp;</div>
			<div class="col total-job" ng-switch="view.display">
				<b ng-switch-when="OpenJobs">{{view.totalOpenJobs}}</b>
				<div ng-switch-when="Loader">
					<ion-spinner class="aj-small-spinner" icon="ripple"> </ion-spinner>
				</div>
				<div ng-switch-when="Error"><i class="icon ion-alert-circled"></i></div>
				Jobs Open
			</div>
		</div>
	</div>

	<ion-content
		ng-init="requestPending=false" 
		scrollbar-y="false"
		delegate-handle="mainScroll"
		sticky-sub-header>

		<ion-refresher 
			class="aj-refresher"
			ng-if="view.refresher"
			on-refresh="onRefresh(true);">
		</ion-refresher>
	
		<div class="list list-inset job-list single-job-card" >

		    <ion-item 
		    	ng-show="view.connectionError" 
		    	ng-click="onRefresh(false);" 
		    	class="message connection-error">
			    	<i class="icon ion-alert-circled"></i>
				    Connection error. Try again.
			</ion-item>

			<ion-item 
				ng-repeat="job in jobs.allJobs" 
				ng-controller="view.controller" 
				ng-click="listHorizontalScroll();">
		        
		        <div class="job">

					<div class="row" >
						<div class="col" >
							<div class="row" >
								<div class="col col-75" >
									<h2 class="job-title">
										<ul id="ticker{{job.post_id}}">
											<li><a>{{job.post_title}}</a></li>
										</ul>
									</h2>
									<span class="date">{{start_date}} </span>
								</div>

								<div class="col col" >
									<div class="job-price">
										${{ job.job_wages }}
									</div>
								</div>
							</div>

							<div class="row job-details">
								<div class="col">
									<div class="job-time">
										<div class="row">
											<div class="col col-10"><i class="ion-clock"></i> </div>
											<div class="col col-90"><span class="time">{{ job.job_start_time }}{{job.job_start_meridiem}} - {{ job.job_end_time }}{{ job.job_end_meridiem }}</span></div>
										</div>
										<div class="row">
											<div class="col col-10"><i class="ion-flag"></i> </div>
											<div class="col col-90"><span class="time">{{ job.job_location }}</span></div>
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="job-actions">

                        <div class="row" ng-click="onSingleJobClick(job.post_id)">

                            <div class="col col-33" ng-switch="jobStatus"> 
                                <div class="applied" ng-switch-when="Applied">
                                    <span></span>
                                    <b>Applied</b>
                                </div>
                                <div class="hired" ng-switch-when="Hired">
                                    <span></span>
                                    <b>Hired</b>
                                </div>
                            </div>

                            <div class="col col-67">
                                <div id="draggableContainer" >
                                    <i class="ion-ios7-download-outline appicant-job"></i>
                                    
                                    <div ng-class="(applicationStatus==='Applications Open')? 'apply-button apply' : 'expired job-closed apply-button'">{{applicationStatus}}</div>

                                </div>
                            </div>

                        </div>

                    </div>

		        </div>   

			</ion-item>

		</div>

		<ion-item ng-show="jobs.noMoreJobs" class="message no-more">
			<i class="icon ion-eye-disabled"></i>
			That's all folks! No more jobs <br>to be displayed.
	    </ion-item>

		<ion-infinite-scroll
			class="aj-refresher"
			distance="1%" 
			ng-if="jobs.canLoadMore" 
			on-infinite="getJobs();">
		</ion-infinite-scroll>

	</ion-content>

</ion-view>

