<ion-view class="login-view">
    
    <div class="bar login-bar">
		<h1 class="pull-left" ng-click="App.goBack();">
			<i class="ion-arrow-left-c"></i> 
			Job List
		</h1>
	</div>

    <ion-content>
    	
    	<div id="logo-cover">
    		<img id="logo" src="./img/minyawnsLogo.png"/>
    	</div>

    	<form novalidate ng-submit="onLoginAction(username, password)">

	    	<div class="login" ng-hide="showLoader">

		    	<div class="list list-inset" ng-init="showPassword=false">

				  <label class="item item-input">
				    <input type="email" placeholder="Username" ng-model="username" >
				  </label>

				  <div class="item item-input" ng-show="showPassword">
				    <input type= "text" placeholder="Password" ng-model="password"  >
				    <a class="padding-horizontal show-password" ng-click="showPassword=false;forceFocus()" >
					    <i  class="icon ion-eye show-password shown"></i>
					</a>
				  </div>

				  <div class="item item-input" ng-hide="showPassword">
				    <input type="password" placeholder="Password" ng-model="password"  >
				    <a class="padding-horizontal show-password" ng-click="showPassword=true;forceFocus()">
					    <i class="icon ion-eye show-password"></i>
					</a>
				  </div>

				</div>

				<div class="padding-horizontal">
					<button class="button button-block button-green" type="submit">Login</button>
				</div>

				<div class="padding">
					<h5>Get Using Minions, faster!</h5>
				</div>
			</div>	
		</form>	
		
		<div class="padding" ng-hide="showLoader">
			<button class="button icon-left ion-social-facebook button-facebook" ng-click="onFacebookButtonClick()">Sign in with Facebook</button>
		</div>

		<div class="padding loader" ng-show="showLoader">
			<i class="icon ion-loading-c"></i>
		</div>

    </ion-content>

</ion-view>
